<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SEIA</title>
    <link rel="stylesheet" href="/stylestest.css">
</head>

<body>
    <div class="bolha" style="left: 10%; animation-duration: 6s;"></div>
    <div class="bolha" style="left: 30%; animation-duration: 4s;"></div>
    <div class="bolha" style="left: 50%; animation-duration: 7s;"></div>
    <div class="bolha" style="left: 70%; animation-duration: 5s;"></div>
    <div class="bolha" style="left: 90%; animation-duration: 6s;"></div>

    <header>
        <h1>Sistema Educacional de Informática Avançada</h1>
    </header>
    <section id="menu">
        <nav>
            <a href="#sobre">Sobre Nós</a>
            <a href="#catalogo">Catálogo</a>
            <a href="#entrar">Entrar</a>
        </nav>
    </section>

    <section id="sobre">
        <h2 class="titulo-sobrenos">Sobre Nós</h2>
        <div class="container">
            <div class="imagem">
                <img src="https://www.feedz.com.br/blog/wp-content/uploads/2019/03/funcionario-feliz-4.webp" alt="Sobre nós">
            </div>
            <div class="texto">
                <p>
                    Bem-vindo ao nosso espaço digital! Aqui, transformamos a experiência de um estudante de Tecnologia
                    da Informação (TI) em algo interativo e envolvente...
                </p>

            </div>
        </div>
    </section>



</body>

</html>